.sidebar {
  height: 100%;
  width: $sidebar-width;
  background-color: darken($color-primary, 20%);
  position: fixed;
  left: 0;
  top: $header-height;
  margin-right: 1rem;
  padding: 1rem;
  color: lighten($color-grey, 40%);

  &__content {
    padding-left: 2rem;

    &__listitem {
      list-style-type: none;

      &:first-child {
        color: lighten($color-primary, 40%);
      }
    }

  }
}
