header.header
  block heading

    .header__logo-box
      img(src='../../assets/img/chat-white.png').header__logo

    .header__textbox
      h1.heading-primary Chat Application
      p.heading-content Created by Souveek Kumar Bose
