//- Basic layout to be applied to all pages
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title Chat Application

    link(href="https://fonts.googleapis.com/css?family=BioRhyme:200,300,700,800&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel='icon' href='../../assets/img/chat.png')
  body
    //- Header section basically has icon, title and created by
    include ./header.pug

    //- Sidebar
    include ./sidebar.pug

    //- Main section which should show the chats
    main.main
      block content
        p
          | This is a sample content area.
          | This is another sample of content area.

    //- Footer section
    include ./footer.pug

