//- Basic layout to be applied to all pages
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title Chat Application

  body
    //- Header section basically has icon, title and created by
    header
      block heading
        img.chat(src='../../assets/img/chat.png')
        div.heading-text
          h1 Chat Application
          p Created by Souveek Kumar Bose

    //- Main section which should show the chats
    main
      block content
        p
          | This is a sample content area.
          | This is another sample of content area.

    //- Footer section
    footer
      block footer

