/* Setting base font and color for document */
body {
  font-family: 'BioRhyme', serif;
  font-weight: $font-weight-medium;
  color: darken($color-grey, 10%);
}

/* Heading styles */
.heading-primary{
  font-weight: $font-weight-large;
  letter-spacing: 0.5rem;
  animation: moveInRight 1s ease-out;
}

.heading-content{
  font-weight: $font-weight-medium;
  animation: appear 0.5s ease-out 1s 1 backwards;
}

.heading-secondary {
  font-weight: $font-weight-large;
  font-size: 2.5rem;

  /* Implment a cool gradient color effect */
  background-image: linear-gradient(
    to right,
    lighten($color-primary, 10%),
    darken($color-primary, 10%)
  );
  display: inline-block;
  background-clip: text;
  color: transparent;
}

.text-input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
}

/* Set fonts for chat */
.chat {
  font-size: 1.6rem;

  &__message,
  &__url {
    padding-left: 2rem;
  }

  &__meta {
    font-weight: $font-weight-large;

    &__user {
      text-transform: capitalize;
      padding-right: 1rem;
    }

    &__time {
      font-weight: $font-weight-small;
      font-size: 1rem;
    }

  }
}

/* Set font size for labels */
label {
  font-size: 1.6rem;
}

/* Set font sizes for sidebar */
.sidebar {
  &__heading {
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__content {
    &__listitem {
      font-size: 1.5rem;
      text-transform: capitalize;
      ;
    }
  }
}