/* Setting overall styles for body */
body {
  color: #666666;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #aaaaaa;

  /* Setting up flex box for body to occupy complete vertical height */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header and main section styling for background color and padding */
header, main {
  background-color: white;
  padding: 0 16px;
}

/* Set a horizontal separator after header section */
header {
  border-bottom: 1px solid #ccc;
}

/* Setting main section to grow vertically with available space */
main {
  flex-grow: 1;
}

/*
  Set a horizontal separator before footer section and set a background
  color
*/
footer {
  color: #888888;
  border-top: 1px solid #ccc;
}

/* Styling for level 1 headings */
h1 {
  color: blue;
  font-size: 48px;
  margin-bottom: 0px;
  margin-top: 0;
}

/* Styling for chat icon */
img.chat {
  width: 100px;
  margin: 0;
  padding: 20px 0px 0px 0px;
  display: block;
  margin: 0 auto;
}

/* Styling for form fields in footer section */
footer input{
  padding: 5px 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #666666;
  border: 1px solid #cccccc;
}

/* Styling for input text box in footer section */
footer input[type=text]{
  width: 86%;
}

/* Styling for Send button */
footer input[type=submit] {
  float: right;
  width: 10%;
}
