body {
  color: #666666;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #aaaaaa;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, main {
  background-color: white;
  padding: 0 16px;
}

footer {
  background-color: #cccccc;
}

main {
  flex-grow: 1;
}

h1 {
  color: blue;
  font-size: 48px;
  margin-bottom: 0px;
  margin-top: 0;
}

header {
  border-bottom: 1px solid #ccc;
}

footer {
  color: #888888;
  border-top: 1px solid #ccc;
}

img.chat {
  width: 100px;
  margin: 0;
  padding: 20px 0px 0px 0px;
  display: block;
  margin: 0 auto;
}

input {
  padding: 5px 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #666666;
  border: 1px solid #cccccc;
}

footer input[type=submit] {
  float: right;
  width: 10%;
}

input {
  width: 86%;
};
