body {
  color: #666666;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: #aaaaaa;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, main, footer {
  background-color: white;
  padding: 0 16px;
}

main {
  flex-grow: 1;
}

h1 {
  color: blue;
  font-size: 48px;
  margin-bottom: 8px;
  margin-top: 0;
}

header {
  border-bottom: 1px solid #ccc;
}

footer {
  color: #888888;
  border-top: 1px solid #ccc;
}

img.chat {
  width: 200px;
  margin: 0;
  padding: 0;
  display: block;
  margin: 0 auto;
}