.chat-ui {

  .chat-received {
    padding: 1rem;
  }
}

.chat-form {

  /* Chat form goes at the bottom */
  position: fixed;
  bottom: 0;
  height: 6rem;
  width: 100%;
  padding: 1rem;
  background-color: lighten($color-grey, 50%);

  /* Contents are side by side */
  .btn,
  .text-input {
    float: left;
    margin: 0 1rem 0 0 ;
  }

  .text-input {
    width: calc(100% - 40.5rem);
  }
}