.join-main {
  background-color: darken($color-primary, 20%);
  width: 100vw;
  height: 100vh;
  position: relative;

  .join-form {
    background-color: lighten($color-grey, 50%);
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2.5rem;

    label {
      padding-right: 1rem;
      display: block;
    }
  }

}

