// COLORS
$color-black: #000;
$color-white: #fff;
$color-grey: #777;

$color-primary: #00796B;

// LENGTHS
$header-height: 6rem;
$sidebar-width: 30rem;

// FONT WEIGHTS
$font-weight-large: 700;
$font-weight-medium: 300;
$font-weight-small: 200;